###########
# Editors #
###########
.vscode
.idea

############
# EXERCISM #
############
# SCALA
exercism/scala/**/target
# KOTLIN
exercism/kotlin/**/.gradle
exercism/kotlin/**/build
exercism/kotlin/**/out/
exercism/kotlin/**/bin/
exercism/kotlin/**/.classpath
exercism/kotlin/**/.project
exercism/kotlin/**/.settings/
# C#
exercism/csharp/**/bin
exercism/csharp/**/obj
# F#
exercism/fsharp/**/bin
exercism/fsharp/**/obj
# RUST
exercism/rust/**/target
# JAVASCRIPT
exercism/ecmascript/**/node_modules
# TYPESCRIPT
exercism/typescript/**/node_modules
# PYTHON
exercism/python/**/__pycache__
exercism/python/**/.pytest_cache
